.loading-spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .loading-spinner-container p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
  }